/* ======== CARDS ======== */

.cards {
	display: flex;
	flex-wrap: wrap;
	flex-flow: row wrap;
	width: 100%;
	padding: 2%;
}

.card {
	position: relative;
	width: 180px;
	height: 400px;
	margin: 1rem;
	text-align: center;
	font-size: 1.2rem;
	background-color: var(--bg);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
	transition: background-color, transform 0.5s ease;
	cursor: pointer;
	transition: transform 0.2s;
}

.card:hover {
	transform: scale(1.1);
}

.card a {
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
}

.card figure {
	margin: 10px 0 0 0;
}

.card figcaption {
	margin-top: 15px;
	color: var(--text-main-color);
}

.card:hover {
	background-color: var(--primary-color);
}

.card:hover figcaption {
	color: var(--text-main-color);
}

img {
	height: 240px;
	width: 160px;
}

@media (max-width: 740px) {
	.cards {
		margin-top: 150px;
	}
}
