.footer {
	width: 100%;
	background-color: var(--text-main-color);
	color: var(--text-on-dark-color);
	padding: 1em 0.5em;
}

.footer-content {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}

.footer .title {
	font-size: 2.5rem;
}

.contact-us-wrapper {
	text-align: center;
	text-transform: uppercase;
}

.contact-us ul {
	display: flex;
	flex-wrap: wrap;
	text-transform: none;
	justify-content: center;
	margin-bottom: 0;
}

.contact-us ul li {
	margin: 0 5px 0 5px;
}

.contact-us ul li a {
	display: block;
	position: relative;
	padding: 0.2em 0;
	overflow: hidden;
}

.contact-us ul li a::before {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: var(--text-on-dark-color);
	transform: scaleX(0);
	transform-origin: top left;
	transition: transform 0.3s ease;
}

.contact-us a:hover::before {
	transform: scaleX(1);
}

.contact-us a {
	color: var(--text-on-dark-color);
}

.footer .title-number {
	color: var(--text-on-dark-color);
}

.rights {
	text-align: center;
}
