/* ======== MAIN ======== */

.content {
	width: 60%;
	margin: 0 auto 50px auto;
	padding: 2%;
	display: flex;
	justify-content: center;
}

.movie {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2%;
	background-color: var(--bg-accented);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

/* ======== MOVIE HEADER ======== */

.movie-header {
	display: flex;
}

.year {
	font-size: 1rem;
}

.poster img {
	display: block;
	/* Ratio 2:3 */
	width: 100%;
	height: calc((100vw - 4rem) * (3 / 2));
	max-height: calc(200px * 3 / 2);
}

.screenshot {
	position: relative;
}

.screenshot img {
	display: block;
	/* Ratio: 21:9 */
	width: 100%;
	height: calc((100vw - 4rem) * (9 / 21));
	max-height: calc(700px * 9 / 21);
}

.movie-info {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 15px;
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--text-on-dark-color);
	background-color: rgba(0, 0, 0, 0.2);
}

/* ======== CONTENT ======== */

.movie-content {
	margin-right: auto;
}

.title-rating-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.meta-info div {
	margin-top: 5px;
}

.title-rating-wrapper h3,
.title-rating-wrapper div {
	margin: 20px 0 20px 0;
}

.rating-wrapper {
	width: 25%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.rate-btn {
	width: 50px;
	height: 50px;
	font-size: 2rem;
	border: none;
	background-color: var(--bg-accented);
}

.rate-btn:hover {
	cursor: pointer;
}

#like {
	color: var(--primary-color);
}

#dislike {
	color: rgb(255, 67, 67);
}

.rating {
	padding: 15px;
	font-size: 1.25rem;
	border: 1px solid var(--text-main-color);
	border-radius: 100px;
}

.imdb-wrapper > * {
	font-size: 2rem;
}

.trailer {
	margin-top: 20px;
	padding-top: 20px;
	text-align: center;
}
