<ul>
	<li><a href="movies.html" class="genre-nav-item">Всички</a></li>
	<li><a href="movies.html?genre=action" class="genre-nav-item">Екшън</a></li>
	<li><a href="movies.html?genre=thriller" class="genre-nav-item">Трилър</a></li>
	<li><a href="movies.html?genre=drama" class="genre-nav-item">Драма</a></li>
	<li><a href="movies.html?genre=comedy" class="genre-nav-item">Комедия</a></li>
	<li><a href="movies.html?genre=romantic" class="genre-nav-item">Романтичен</a></li>
	<li><a href="movies.html?genre=horror" class="genre-nav-item">Ужаси</a></li>
	<li><a href="movies.html?genre=fantastic" class="genre-nav-item">Фантастика</a></li>
	<li><a href="movies.html?genre=adventurous" class="genre-nav-item">Приключенски</a></li>
	<li><a href="movies.html?genre=historical" class="genre-nav-item">Исторически</a></li>
	<li><a href="movies.html?genre=mistery" class="genre-nav-item">Мистерия</a></li>
	<li><a href="movies.html?genre=fantasy" class="genre-nav-item">Фентъзи</a></li>
	<li><a href="movies.html?genre=military" class="genre-nav-item">Военен</a></li>
	<li><a href="movies.html?genre=western" class="genre-nav-item">Уестърн</a></li>
	<li><a href="movies.html?genre=russian" class="genre-nav-item">Руски</a></li>
	<li><a href="movies.html?genre=biographical" class="genre-nav-item">Биографичен</a></li>
	<li><a href="movies.html?genre=criminal" class="genre-nav-item">Криминален</a></li>
	<li><a href="movies.html?genre=documentary" class="genre-nav-item">Документален</a></li>
	<li><a href="movies.html?genre=sporty" class="genre-nav-item">Спортен</a></li>
	<li><a href="movies.html?genre=indian" class="genre-nav-item">Индийски</a></li>
</ul>
