<ul>
	<li><a href="" class="genre-nav-item">Екшън</a></li>
	<li><a href="" class="genre-nav-item">Трилър</a></li>
	<li><a href="" class="genre-nav-item">Драма</a></li>
	<li><a href="" class="genre-nav-item">Комедия</a></li>
	<li><a href="" class="genre-nav-item">Романтичен</a></li>
	<li><a href="" class="genre-nav-item">Ужаси</a></li>
	<li><a href="" class="genre-nav-item">Фантастика</a></li>
	<li><a href="" class="genre-nav-item">Приключенски</a></li>
	<li><a href="" class="genre-nav-item">Исторически</a></li>
	<li><a href="" class="genre-nav-item">Мистерия</a></li>
	<li><a href="" class="genre-nav-item">Фентъзи</a></li>
	<li><a href="" class="genre-nav-item">Военен</a></li>
	<li><a href="" class="genre-nav-item">Уестърн</a></li>
	<li><a href="" class="genre-nav-item">Руски</a></li>
	<li><a href="" class="genre-nav-item">Биографичен</a></li>
	<li><a href="" class="genre-nav-item">Криминален</a></li>
	<li><a href="" class="genre-nav-item">Документален</a></li>
	<li><a href="" class="genre-nav-item">Спортен</a></li>
	<li><a href="" class="genre-nav-item">Индийски</a></li>
</ul>
