<a href="index.html" class="title">Filmi <span class="title-number">4k</span></a>
<nav>
	<ul class="nav">
		<li><a href="movies.html">Филми</a></li>
		<li><a href="top-movies.html">ТОП 10 Филми</a></li>
	</ul>
</nav>
<ul class="auth">
	<li id="login-parent"><a href="login.html" id="login-button">Вход</a></li>
	<li id="register-parent"><a href="register.html" id="register-button">Регистрация</a></li>
	<li id="greeting-parent"><span id="greeting"></span></li>
	<li id="logout-button-parent"><a id="logout-button">Изход</a></li>
</ul>
<button class="hamburger"><i class="fa-solid fa-bars"></i></button>
